.challenge-page {
    display: flex;
}

.challenge-content {
    flex: 2;
    padding: 0.85rem;
    display: flex;
    flex-direction: column;
}

.challenge-details {
    min-height: 300px;
}

.challenge-testcase {
    display: flex;
    flex-direction: column;
}

.challenge-output {
    background-color: black;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    min-height: 9rem;
    max-height: 10rem;
    overflow-y: auto;
    padding: 0.5rem;
}
