.manager-page {
    padding: 0.85rem;
}

.manager-filter {
    display: flex;
    justify-content: space-around;
}

.manager-filter > p {
    padding: 0.25rem;
    cursor: pointer;
}
.filter-active {
    border-radius: 0.5rem;
    background-color: #343a40;
    color: white;
}
