.snippet-page {
    display: flex;
}

.snippet-content {
    flex: 2;
    padding: 0.85rem;
    height: 92vh;
    overflow-y: scroll;
}

#title {
    text-align: center;
}

.editor-container {
    flex: 3;
}

.meta-snippet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.md {
    border-radius: 0.5rem;
    background-color: #e5e5e5;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
